<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listed</title>
</head>
<body>
    <form action="/listed/<%= user._id/items" method="get">
        <h2>Log In</h2>
        <label for="username"></label>
        <input type="text" name="username" id=""><br>
        <label for="password">Name Your Big List:</label>
        <input type="password" name="password">
        <input type="submit" value="Sign In">
    </form>
    <br><br>
</body>
</html>