<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Item</title>
</head>
<body>
    <h1>Add a new list item</h1>
    <form action="/listed/biglist" method="POST">
        <label for="entry">List Item:</label>
        <input type="text" name="entry" size="75"><br><br>
        <label for="ogPriority">Item Priority</label>
        <input type="radio" name="ogPriority" value="A" id="A">A
        <input type="radio" name="ogPriority" value="B" id="B">B
        <input type="radio" name="ogPriority" value="C" id="C">C<br>
        <input type="radio" name="priority" value="A" id="priorityA" style="display: none;">
        <input type="radio" name="priority" value="B" id="priorityB" style="display: none;">
        <input type="radio" name="priority" value="C" id="priorityC" style="display: none;"><br>
        <br>
        <input type="submit" value="Create">

    </form>
</body>
</html>