<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Sublist Item</title>
</head>
<body>
    <a href="/listed/biglist"><button>Back</button></a>
    <h1>Edit Sublist Item:</h1>
    <form action="/listed/biglist/<%= item._id %>/sublist/<%= subItem._id %>?_method=PUT" method="POST">
        <label for="entry">Sublist Item</label>
        <input type="text" name="entry" value="<%= subItem.entry %>" size="75"><br><br>
        <input type="submit" value="Edit">

    </form>
</body>
</html>