<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= user.bigListName %></title>
</head>
<body>
    <h1><%= user.bigListName %></h1>
    <ul>
        <% user.items.forEach((item)=>{ %>
            <li>
                <h3><%= item %></h3>
            </li>
        <% }) %>
    </ul>
</body>
</html>